/* ========== Fuentes Importadas ========== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.colores {
    color: #131410;
    color: #4c2818;
    color: #a66a2c;
    color: #d5aa72;
    color: #f5f6ed;
}

body {
    background-color: #d5aa72;
    color: #4c2818;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    background-color: #4c2818;
    color: #d5aa72;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr repeat(2, 1fr);
    grid-template-rows: auto;
}

h1 {
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #d5aa72;
}

a:hover {
    color: #d5aa72;
}

/* ========== Header ========== */

.header-logo {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 10vh;
}

.header-content {
    grid-column: 2/4;
}

.header-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px 10px;
}

/* ========== Header: Inicio de sesión ========== */

.header-login {
    background-color: #d5aa72;
    color: #4c2818;
    border: none;
    border-radius: 15px;
    box-sizing: content-box;
    margin: 10px;
    height: 30px;
}

/* ========== Header: Barra de busqueda ========== */

.search-bar {
    margin: 5px 0px;
    align-content: center;
}

.search-input {
    color: #4c2818;
    margin: 10px;
    height: 34px;
    border-radius: 8px;
}

.search-button {
    background-color: #4c2818;
    box-sizing: content-box;
    border: none;
}

.search-icon {
    box-sizing: content-box;
    padding: 8px;
    height: 30px;
}

.header-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: #d5aa72;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.link:hover {
    text-decoration: underline;
}

.header-buttons-link {
    display: flex;
    align-items: center;
}

/* ========== Header: Menú desplegable ========== */

.header-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dropdown {
    position: relative;
}

.drop-btn {
    background: none;
    border: none;
    color: #f5f6ed;
    cursor: pointer;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f6ed;
    box-shadow: 0 8px 8px rgba(76, 40, 24, 0.2);
    border-radius: 15px;
    z-index: 1;
    width: 200px;
    top: 100%;
    left: 0;
    font-size: 1.2rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content h3 {
    padding: 10px;
    margin: 0;
    background-color: #d5aa72;
    color: #4c2818;
    font-weight: 600;
    text-transform: uppercase;
}

.dropdown-content a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #4c2818;
}

.dropdown-content a:hover {
    background-color: #f5f6ed;
}

/* ========== Main: section ========== */

section {
    width: 90%;
    margin: 2vh auto;
}

/* ========== Main: section-offers ========== */
.offers {
    height: 25vh;
}

/* ========== Main: section-features ========== */
.features {
    background-color: #4c2818;
    height: 25vh;
}

/* ========== Footer ========== */

.footer-content{
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 1vh;
}

/* ========== Footer -- Redes sociales ========== */

.social-media {
    min-width: 150px;
    max-width: 15vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.social-media-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.social-media-logo {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.social-media-logo:hover {
    transform: scale(1.5);
}

/* ========== Footer -- links ========== */

.footer--link-list {
    list-style: none;
}