@import url("style.css");

/* ========== Estilos específicos de Register: Solo se mantiene el CSS único de esta página ========== */

/* Formulario */
.formulario {
    background-color: #f5f6ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 8px;
    width: 100%;
}

.formulario, .form-control,
.formulario, .button, .mb-3 {
    width: 100%;
}

.form-check-input {
    background-color: #4c2818;
}